<div class="main-lists-index">
  <div class="lists-index-container">
    <% @lists.each do |list| %>
      <div class="lists-index-item">
        <p><%= link_to(list.content,"lists/#{list.id}") %></p>
      </div>
    <% end %>
  </div>
</div>