<div class="main-lists-show">
  <div class="lists-show-container">
    <div class="lists-show-item">
      <%= @list.content %>
      <div class="list-time">
        <%= @list.created_at %>
      </div>
    </div>
  </div>
</div>