<div class="main-lists-show">
  <div class="lists-show-container">
    <div class="lists-show-item">
      <%= @list.content %>
      <div class="list-time">
        <%= @list.created_at %>
      </div>
      <div class="list-menus">
        <%= link_to("編集", "/lists/#{@list.id}/edit") %>
        <%= link_to("削除", "/lists/#{@list.id}/destroy") %>
      </div>
    </div>
  </div>
</div>